
/*covid bar section if time*/

/*2nd attempt nav bar*/
nav {
    background-color: rgb (33,37,41);
}
.navBar {
    background-color: rgb(33,37,41);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navBar li ul {
    color: white;
    display: inline-block;
    text-align: center;
}
.navLeft a img {
    justify-content: flex-start;
    height: 30px;
    width: 30px;
}
.navbar-brand {
    color: white;
}
/*drop dowm menu from css w3school*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb (33,37,41);
    color: white;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    width: auto;
    background-color: rgb (33,37,41);
  }
  .dropdown:hover .dropdown-content p {
    display: block;
    background-color: rgb(33,37,41);
  }
  /*
  .applyNow {
    height: 30px;
    text-align: center;
    display: inline-block;
    background-color: rgb(227,62,67);
    color: white;
    text-anchor: middle;
  }
  */
  
  li ul .applyNow {
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(227,62,67);
    color: white;
    text-anchor: middle;
  }
  /*.scheduleMeeting {
      width: 150px;
      height: 30px;
      text-align: center;
      display: inline-block;
      background-color: #b3d4fc;
      color: white;
  }*/
  li ul .scheduleMeeting {
    line-height: 30px;
    width: 150px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    background-color: #b3d4fc;
    color: white;
    text-decoration: none;
  }
  ul #schedule a {
      color: white;
      line-height: 31.5px;;
      font-size: 12px;
      font-weight: 400;
      margin: 0px;
      background-color: #b3d4fc;
      text-decoration: none;
  }

/*pageContent*/
.fullWidth video {
    width: 100%;
}
#pageContent {
    width: 100%;
}
/*background video section*/
.fullscreen-background {
    width: 100%;
    z-index: 0;
    margin-bottom: 0px;
}

.overlay {
    position: absolute;
    font-size: 50px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    float: left;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    height: 75px;
    bottom: 50px;
}

.overlay h1 {
    margin-left: 30px;
    box-sizing: border-box;
    padding-top: 12.5px;
    padding-right: 25px;
    padding-bottom: 12.5px;
    padding-left: 30px;
    font-size: 48px;
    background-color: rgb(0,0,0,0.7);
    width: 661px;
    letter-spacing: 2.5px;
    font-weight: 800;
    text-transform: uppercase;
}

.overlay a {
    width: auto;
    background-color: #e33e43;
    text-transform: uppercase;
    color: #fff;
    display: border-box;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-left: 30px;
    margin-bottom: 7px;
    font-size: 30px;
    position: relative;
}

/*arrow down overlay*/
.arrowOverlay {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1;
}
.arrowOverlay i {
    float: center;
    width: 50px;
    height: 50px;
}
  
/*css for cards*/
#contentSections {
    box-sizing: border-box;
    background-color: #efefef;
}
.grayCardsWrapper h1 {
    text-align: center;
}
.cards-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    box-sizing: border-box;
}

.grayCards {
    padding: 45px 0 45px 0;
}
.grayCardsWrapper {
    padding-left: 5%;
    padding-right: 5%;
}
.center {
    font-family: Arial, Helvetica, sans-serif;
    color: #348db9;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: .2em;
}
.card-content {
    line-height: 1.4;
    color: #676767;
    padding-top: 9%;
    padding-right: 9%;
    padding-bottom: 0px;
    padding-left: 9%; 
    box-sizing: border-box;
}
.card-content h2 {
    text-align: center;
    color: #676767;
    font-size: 28px;
    font-weight: 800px;
}
.card-content p {
    color: #676767;
    text-align: center;
    font-size: 17px;
}
.card-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.card {width: 31.667%;
    display: flex;
    justify-content: flex-end
    margin-right: 1.3%;
}
.cardButton {
    box-sizing: border-box;
    align-items: flex-end;
    background: #e33e42;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: .5em;
    bottom: 0;
}
.group {
    align-items: flex-end;
}




/* final section */
/*how do i get the boxes to disappear and align
text into the larger card*/
.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.iconSection {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 5px;
    width: 100%;
    display: inline-flex;
    background-color: #fff;
}
.elevenImage {
    margin-left: 100px;
    height: 228px;
    width: 195px;
}
.columnOne {
    float: center;
}
.columnTwo {
    text-align: center;
    height: 400px;
}
.columnTwo h2 {
    font-size: 28px;
    color: #348db9;
    font-weight: 600;
    text-align: center;
}
#columnTwo p {
    color: #676767;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
/* end of cards section 1st attempt */